.expert .content
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 40px;
}
.expert .content .box
{
    width: 342px;
    margin: 19px;
    border: 15px solid #fff;
	box-shadow:  0 5px 35px rgba(0,0,0,0.08);
}
.expert .content .box .imgBx
{
	position: relative;
	width: 100%;
	height: 300px ;
}
.expert .content .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.expert .content .box .text
{
	padding: 15px 0 5px;
}
.expert .content .box .text h3
{
	font-weight: 400;
	color: #111;
}