
*
{
margin:0;
padding:0;
box-sizing: border-box;
font-family:'poppins', sans-serif;
scroll-behavior: smooth;	
}
p 
{
	font-weight:300;
	color:#868686;
}

section
{
	padding: 100px;
}

.btn
{
	font-size: 1em;
	color: #fff;
	background: #ff0157;
	display: inline-block;
	padding: 10px 30px;
	margin-top: 20px;
	text-transform: uppercase;
	text-decoration: none;
letter-spacing: 2px;
transition: 0.5s;
}
.btn:hover
{
	letter-spacing: 6px;
}

.white .titleText,
.white p 
{
color: #000;
}
